<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <mat-form-field class="container-login">
        <input fxFlex="90%" matInput placeholder="Login"
           type="text" name="Login" [(ngModel)]="user.Login">
      </mat-form-field>
    </div>
  
    <div class="form-group">
      <mat-form-field class="container-login">
        <input fxFlex="90%" matInput placeholder="Senha"
           type="text" name="Login" [(ngModel)]="user.Senha">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="container-favoritos">
        <input fxFlex="90%" matInput placeholder="Favoritos"
           type="text" name="Favoritos" [(ngModel)]="user.Favoritos">
      </mat-form-field>
    </div>
      <button mat-button color="primary" (click)="saveUser()" class="btn btn-success">Enviar</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>Subimissão Confirmada</h4>
      <button mat-button color="primary" class="btn btn-success" (click)="newUser()">Adicionar Novo?</button>
    </div>
  </div>
