  <h4>Lista de Categorias</h4>
  <mat-nav-list>
    <mat-list-item *ngFor="let category of category; let i = index">
       <a matLine>{{ category.category }}</a>
       <button mat-icon-button (click)="setActiveCategory(category, i)">
          <mat-icon>info</mat-icon>
       </button>
       <button mat-icon-button (click)="editCategory(category, i)">
        <mat-icon>edit</mat-icon>
     </button>
    </mat-list-item>
  </mat-nav-list>
  <div class="col-md-6">
    <button mat-button color="primary" class="m-3 btn btn-sm btn-danger" (click)="removeAllCategories()">
      Remove All
    </button>
    <div class="col-md-6">
      <div *ngIf="currentCategory">
        <h4>Categorias</h4>
        <div>
          <label><strong>Category:</strong></label> {{ currentCategory.category }}
        </div>
  
        <a class="badge badge-warning" href="/categories/{{ currentCategory.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentCategory">
        <br />
        <p>Por favor escolha uma Categoria...</p>
      </div>
    </div>
  </div>