<div>
  <mat-toolbar color="primary">
    <h1>
    TestMapFrontEnd
    </h1>
    <button mat-button routerLink="/users">Usuarios</button>
    <button mat-button routerLink="/category">Categorias</button>
    <button mat-button routerLink="/articles">Artigos</button>
    <button mat-button routerLink="/adduser">Adicionar Usuário</button>
    <button mat-button routerLink="/addcategory">Adicionar Categoria</button>
    <button mat-button routerLink="/addarticles">Adicionar Artigo</button>
  </mat-toolbar>
    
    <router-outlet></router-outlet>
</div>