<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Categorias</label>
        <input
          type="text"
          class="form-control"
          id="categoria"
          required
          [(ngModel)]="category.category"
          name="categoria"
        />
      </div>

      <button (click)="saveCategory()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCategory()">Add</button>
    </div>
  </div>
