<div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <mat-form-field class="container-categoria">
            <input fxFlex="90%" matInput placeholder="Categoria"
               type="text" name="categoria" [(ngModel)]="category.category">
          </mat-form-field>
        </div>
    <button mat-button color="primary" (click)="saveCategory()" class="btn btn-success">Enviar</button>
  </div>

  <div *ngIf="submitted">
    <h4>Subimissão Confirmada</h4>
    <button mat-button color="primary" class="btn btn-success" (click)="newCategory()">Adicionar Novo?</button>
  </div>
  </div>
  
